<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="MyWeb" />
    <title>MyWeb</title>
    @Html.RAInfrastructureStylesheets()
    @Html.RAInfrastructureScripts(includeTouch: true)
    @RenderSection("Scripts", required: false)

    
</head>
<body>

    <div class="ra-layout">

        <div class="ra-layout-header">
            
            <table style="width: 100%; padding: 5px; padding-top: 6px;">
                <tr>
                    <td class="ra-layout-sidebar-toggle-button" style="height: 38px; width: 56px; vertical-align: middle; text-align: left;">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                onclick="raToggleSidebar()">
                            <i class="fas fa-bars" style="font-size: 1.1em;"></i>
                        </button>
                    </td>
                    <td style="text-align: left; height: 38px;">
                        Left
                    </td>
                    <td style="text-align: right; height: 38px;">
                        Right
                    </td>
                </tr>
            </table>

        </div>

        <div class="ra-layout-sidebar">

            Sidebar

        </div>

        <div class="ra-layout-body" style="padding: 15px;" onmousedown="raHideSidebar();">
            @RenderBody()
        </div>

    </div>

    <div id="ra-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ra-dialog-title">
        <div id="ra-dialog-modal" class="modal-dialog" role="document">
            <div id="ra-dialog-modal-content" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ra-dialog-title">TITLE</h4>
                    <button id="ra-dialog-cancelbutton-corner"
                            type="button"
                            class="close"
                            onclick="raCloseModalDialog(event);"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <input type="hidden" id="ra-dialog-returnaction" />
                </div>
                <div class="modal-body" id="ra-dialog-body">
                    BODY
                </div>
                <div class="modal-footer">
                    <span id="ra-dialog-processing" style="display: none;">
                        <img src="/orbital7-rapidapp/dist/images/spinners/ra-spinner-sm.gif" /> Processing...
                    </span>
                    @Html.RAButton("CANCEL",
                        "raCloseModalDialog(event);",
                        buttonClass: "btn-secondary btn-lg",
                        buttonId: "ra-dialog-cancelbutton")
                    @Html.RAButton("ACTION",
                        "submitModalDialog(event);",
                        buttonClass: "btn-primary btn-lg",
                        buttonId: "ra-dialog-actionbutton")
                </div>
            </div>
        </div>
    </div>

</body>
</html>